@font-face {
    font-family: "Zector";
    src: url(../fonts/Zector.otf);
    font-display: swap;
}

body {
    background-color: #f8f8ff;
    height: 100%;
}

@media (prefers-color-scheme: dark) {
    body {
      background-color: #353535;
      color: white;
    }
}

.heading {
    text-align: center;
    font-family: Zector;
    color: gray;
    font-size: 1em;   
}

.schedule {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.time {
    text-align: center;
    font-family: 'Zector';
    font-size: 36px;
}

.localtime {
    font-family: 'Zector';
    font-size: 14px;
    opacity: 90%;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: gray;
    padding: 6px;
    text-align: center;
}

@media only screen and (max-width: 900px) {
    .footer {
        text-align: center;
    }
}

@media only screen and (max-height: 900px) {
    .footer {
        position: inherit;
        margin-top: 60px;
        padding: 0px;
    }
}

.footer-text {
    text-decoration: none;
    font-family: 'Zector';
    font-size: 1em;   
}

a:link {
    color: gray;
}
  
  a:visited {
    color: gray;
}

.credits {
    font-family: 'Zector';
    font-size: 24px;
    text-decoration: none;
}

.twilight-toggle {
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.coord-dial {
    font-family: 'Zector';
    font-size: 1em;
    margin-top: 4px;
}

.set-var {
    font-family: 'Zector';
    font-size: 1em;
    height: 16px;
    margin: 4px;
}

.reset {
    font-family: 'Zector'; 
    color: rgba(255, 0, 0, 0.719);
    font-size: 1em;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.lds-dual-ring {
    margin: auto;
    width: 40px;
    height: 40px;
    text-align: center;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 32px;
    height: 32px;
    margin: 4px;
    border-radius: 50%;
    border: 6px solid #fd8f3e;
    border-color: #fd8f3e transparent #fd8f3e transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  