<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Primary Meta Tags -->
    <title>Sunrise and Sunset Credits</title>
    <meta name="title" content="Sunrise and Sunset Credits">
    <meta name="description" content="sunrise and sunset times for your area, always up to date and accurate. ">
    <meta name="keywords" content="sunrise, sunset, sunrise times, sunset times, sunrise sunset, when is sunrise, when is sunset, sunrise when, sunset when, sunrise today">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://sunrisewhen.com/">
    <meta property="og:title" content="Sunrise and Sunset Credits">
    <meta property="og:description" content="sunrise and sunset times for your area, always up to date and accurate. ">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://sunrisewhen.com/">
    <meta property="twitter:title" content="Sunrise and Sunset Credits">
    <meta property="twitter:description" content="sunrise and sunset times for your area, always up to date and accurate. ">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='img/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='img/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='img/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='img/site.webmanifest') }}">
    <link rel="mask-icon" href="{{ url_for('static', filename='img/safari-pinned-tab.svg') }}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
    <div style="text-align: center;">
        <h1 style="font-family: 'Zector';">sunshinewhen uses</h1>
        <a class="credits">sunrise-sunset.org</a>
        <br  />
        <a class="credits">timezonedb.com</a>
        <br  />
        <a class="credits">Matomo</a>
        <br  />
        <a class="credits" href="https://www.flaticon.com/free-icon/sunsets_1146886">Freepik</a>
        <br  />
        <a class="credits" href="https://www.dafont.com/zector.font">Zector</a>
        <br  />
        <a class="credits" style="font-size: 18px;">hosted at netcup using gunicorn, docker and nginx</a>
    </div>

    <div class="footer" style="text-align: center;">
        <a class="footer-text">DON'T FORGET TO BOOKMARK <3</a>
    </div>  

    <!-- Matomo -->
    <script type="text/javascript">
        var _paq = window._paq = window._paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
            var u="https://stonks.lennartobst.de/";
            _paq.push(['setTrackerUrl', u+'js/']);
            _paq.push(['setSiteId', '6']);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.type='text/javascript'; g.async=true; g.src=u+'js/'; s.parentNode.insertBefore(g,s);
        })();
    </script>
    <!-- End Matomo Code -->
</body>
</html>
